
<ion-content>
  <ion-grid fixed >
    <ion-row class="ion-text-center">
      <ion-col>
        <h2 >Peliculas Nuevas</h2>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h2 >Cartelera</h2>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h2 >Populares</h2>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  <app-slideshow-pares [peliculas]="populares"
                        (cargarMas)="cargarMas()"></app-slideshow-pares>

</ion-content>
