<ion-content >

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h2>Favoritos</h2>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <!--
  <app-slideshow-poster [peliculas]="peliculas"></app-slideshow-poster>
  -->

  <div *ngFor="let pelicula of favoritoGenero" >
    <ion-grid *ngIf="pelicula.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h3>{{ pelicula.genero }}</h3>
        </ion-col>
      </ion-row>
      <app-slideshow-poster [peliculas]="pelicula.pelis"></app-slideshow-poster>
    </ion-grid>

    

  </div>

</ion-content>
